@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import "tailwindcss";
@config "./tailwind.config.js";

@theme {
    --font-handwrite: "Knewave", system-ui;

    /*adding a breakpoint small */
   --breakpoint-sm: 32rem; 

     /*adding and removing colors */
--color-*: initial;

--color-mydarkteal: #025159;
--color-myblue: #04bfbf;
--color-myteal: #038c8c;
--color-mytan: #bf9a78;
--color-mybrown: #8c452b;

--color-mygray-0: #ffffff;
--color-mygray-5: #f2f2f2;
--color-mygray-10: #e5e5e5;
--color-mygray-20: #cccccc;
--color-mygray-30: #b3b3b3;
--color-mygray-40: #999999;
--color-mygray-50: #808080;
--color-mygray-60: #666666;
--color-mygray-70: #4d4d4d;
--color-mygray-80: #333333;
--color-mygray-90: #1a1a1a;
--color-mygray-100: #000000;

}

h1 {
    @apply font-handwrite
}

Nav {
    @apply font-handwrite
}